/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP(200)[id]
     , [Date]
     , [Thread]
     , [Level]
     , [Logger]
     , [Message]
     , [Exception]
FROM [Cineplex_Utility].[dbo].[WebErrorLogs]
--WHERE LEVEL <> 'ERROR'
ORDER BY id DESC